# LaTeX Auxiliary files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.toc

# Pip environment
M2ENV/

# Docs
docs/*
!docs/Doxyfile
!docs/html
!docs/latex
docs/html/*
!docs/html/index.html
docs/latex/*
!docs/latex/refman.pdf

# Data
data/MNIST/
data/DDPM/

# Pycache
__pycache__/
